// fonts
$serif: 'Georgia', serif;
$sans: 'Roboto', sans-serif;
// font size
$xsFont: 16px;
$smFont: 20px;
$mFont: 24px;
$lgFont: 68px;
$xlFont: 100px;
// colors
$orange: #FF8800;
$gray:#1B1B1B;
$pColor: #848484;
$light: white;
$dark: black;
// responsive
$res-big: "only screen and (min-width: 801px)";
$res-small: "only screen and (max-width: 800px)";
$res-xsmall: "only screen and (max-width: 600px)";
