* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Boy {
    width: 10vw;
    position: absolute;
    left: 5%;
}

#content{
    min-height: 400px;
    position: relative;
}

#Platform {
    width: 100%;
    height: 10%;
    background-color: rgb(110, 110, 110);
    position: absolute;
    top: 90%;
    z-index: -1;
}

.enemy {
    width: 5vw;
    position: absolute;
    left: 0;
    top: 0;
}