@import "../variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Player {
    width: 10vw;
    position: absolute;
    left: 5%;
}

#content{
    min-height: 400px;
    position: relative;
    #try-again {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        border: none;
        background-color: green;
        padding: 10px;
        font-size: 55px;
        transform: translate(-50%, -50%);
    }
    div.skinSellector{
        position: absolute;
        right: 0;
        top: 0;
        border: solid $orange 5px;
        border-radius: 5px;
        padding: 20px 40px;
        cursor: pointer;
    }
}

#Platform {
    width: 100%;
    height: 10%;
    background-color: rgb(110, 110, 110);
    position: absolute;
    top: 90%;
    z-index: -1;
}

.enemy {
    width: 5vw;
    position: absolute;
    left: 0;
    top: 0;
}

